<div class="text-center mt-20">
  <h1 class="text-3xl">Přijde vám, že už jste tuto frázi někde slyšeli?</h1>
  <h1 class="text-4xl mt-10">Nebyla to náhodou hodina Ekonomie 1 - 3mi101 s PhDr. Petrem Adámkem?</h1>
  <h1 class="text-5xl mt-10 font-black">Udělejme z toho kolektivní drinking game!</h1>

  <a href={Routes.game_path(@conn, :index)} class="inline-block p-10 cursor-pointer rounded-xl shadow mt-20 text-3xl text-white 
  bg-gradient-to-br from-yellow-500 to-pink-500 font-black transition transform hover:from-yello-400 hover:to-pink-400 hover:shadow-xl">Připojit se do hry</a>
</div>
